<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            <div class="">
                Navigation
            </div>
        </header>

        <main>
            <form class="form" onsubmit="return Client.handleSubmit(event)">
                <input id="url" type="url" name="url" value="" placeholder="Insert an URL (eg. https://www.site.com/article)">
                <input class="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>

            <section>
                <h2>Results:</h2>
                <div id="results">
                    <h3>Polarity:</h3>
                    <p id="polarity"></p>

                    <h3>Subjectivity:</h3>
                    <p id="subjectivity"></p>

                    <h3>Text:</h3>
                    <p id="text"></p>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
