@import "colors.scss";

main {
    .form {
        border: $borderSection;
        border-radius: 3px;
        margin-bottom: 30px;
    }

    section {
        h3 {
            color: $titleColor;
        }
    }
}